
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    padding: 3px;
    margin: 0;
}


#map {
    height: 100%;
}

.gm-marker {
    color: green;
}


/*
 *
 * Drawer menu
 * Copied from W3C and adapted for this application
 *
 */
.hamburger {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size:1.5em;
    cursor:pointer;
    margin-right: .3em;
    z-index: 0;
}

.overlay {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 0;

    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 7px;
    left: 1;

    background-color: rgba(27,26,26, 0.7);

    transition: 0.5s;
    color: #04ee56;

}

.overlay.open {
    width: 75%;

}

.overlay-content, .overlay-content-small {
    display: flex;
    flex-direction: column;


    overflow: scroll;

    margin-bottom: 2px;
    padding: 1em 1em 0em 1em;

}

.overlay-content-small {
    flex-shrink: 0;
}


#search {
    display: flex;
    background-image: url('searchpic.png');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 14px;
    padding: 5px 20px 5px 40px;
    border: 1px solid #ddd;
    margin: 10px 12px 10px 0px;
}


.overlay-title {
    font-size: 2.3em;
    font-weight: bold;
}

.overlay ul {
    margin: 0;
    padding: 0;
}

.overlay li, .closebtn {
    padding: 0.2em;
    text-decoration: none;
    font-size: 1em;
    /*font-weight: bold;*/
    color: #c3bfbf;
    list-style: none
}

.overlay li:hover {
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    right: 5px;
    font-size: 3em;
    z-index: 1;
}

.overlay hr {
    display: flex;
    border-color: #f1f1f1;
    width: 100%;
}


/*
 *
 * infowindow
 *
 *
 */
.gm-style-iw {
   display: flex;
   flex-direction: column;

   top: 25px !important;
   left: 0 !important;

   background-color: #fff;

   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 3px 3px 10px 10px;

   width: 200px !important;
   height: 300px;
   z-index: 2;
}


.iw-content {
    width: 100%;

    font-size: 18px;
    color: #ffffff;
}

.iw-title {
    background-color: #64e185;
}


#iw-image {
    display: flex;
    border-style: none;

    align-self: center;

    width: 198px;
    height: 200px;

    overflow: none;

    z-index: 10100;
}

.iw-address {
    display: flex;
    border-style: none;

    width: 100%;
    color: #0d7c2a;
    font-size: 14px;

    overflow: none;
}

.iw-next {
    position: relative;
    background: rgba(255, 255, 255, 1);
    border: none;
}

