
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    max-width: 100%;

    padding: 3px;
    margin: 0;
}


#map {
    height: 100%;
}

